CONTROL_TOKEN=troque-este-token
ALEXA_SKILL_ID=
TARGET_MAC=22:23:5C:04:00:D8
WOL_IP_ADDRESS=seu-ip-publico-ou-ddns
WOL_PORT=9
SHUTDOWN_URL=http://seu-ip-publico-ou-ddns:5051/desligar
SHUTDOWN_TOKEN=troque-este-token
PORT=8080
